<?xml version='1.0' encoding='utf-8'?>
<widget id="com.taxitime" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Bip Bip</name>
    <description>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </description>
    <author email="support@taxitime.com" href="http://phonegap.com">
        Andrey
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name = "android-targetSdkVersion" value = "28" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="orientation" value="portrait" />
    <preference name = "phonegap-version" value = "cli-9.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <icon src="icon.png" />
    <access origin="*" />
    <access origin="http://taxitime.pro/api/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
